<h2>
  標題 : <%= @message.title %>
</h2>
<h3>分類 : <%= @category.name %></h3>

<p>
  內文 : <%= @message.content %>
</p>




<p><%= link_to "新增評論", new_message_comment_path(@message) %></p>

<table>
  <tr>
    <td>評論</td>
    <td>作者</td>
  </tr>
  <% @comments.each do |comment| %>
  <tr>
    <td><%= comment.content %></td>
    <td><%= comment.user.try(:short_name) %></td>
    <td><%= link_to "修改", edit_message_comment_path(@message, comment) %></td>
    <td><%= link_to "刪除", message_comment_path(@message, comment), :method => :delete, :data => {:confirm => "確定要刪除嗎 ?"} %></td>
  </tr>
  <% end %>
</table>



<%= link_to "回救災主頁", messages_path %>